{% extends "base.html" %}

{% block content %}
{% if user.is_staff %}
<h1>SPARC 2028: Members</h1>
<ul>
    {% for x in mymembers %}
      <li><a href="details/{{ x.id }}">{{ x.givenName }} {{ x.middleInitial }} {{ x.lastName }}</a></li>
    {% endfor %}
</ul>
Note: This site is only used to display member data. Please edit data in the admin interface and not here.
{% else %}
Sorry, you are not allowed to access this page. Please contact the administrator if this is a mistake.
{% endif %}
{% endblock %}